body
  padding 0

.site
  margin-top .5em
  height 10em
  position relative
  overflow hidden
  opacity .7
  &:hover
    opacity 1

  .name
    position absolute
    color white
    bottom .1em
    left -.1em
    font-weight normal
    font-size 450%
    font-family Vollkorn

@media (min-width: 768px)
  .site
    margin-top 20px

@media (min-width: 1200px)
  .site
    margin-top 30px
