.site
  height 10em
  margin-top 1em
  position relative
  overflow hidden

  .name
    position absolute
    color white
    bottom .1em
    left -.1em
    font-weight normal
    font-size 450%
    font-family Vollkorn
