body
  padding 0

.section-selectors
  text-align center

.section-selector
  display inline-block
  margin 0
  opacity .6
  cursor pointer

  &:hover, &.active
    opacity 1

  img
    width 5em
    height 5em
  // The controller icon is taller and wider than the others
  &#selector-games
    img
      width 4em
      height 4em
  &#selector-movies
    margin 0 1em

.footer
  text-align right

  .toggle
    display block
    margin .5em
    font-size 200%
    cursor pointer
    opacity .7
    &:hover
      opacity 1

  .content
    display none
    text-align left
    float right
    margin-right 1em

    .attribution
      display block

      &:first-child
        margin-left 2.3em

      img
        height 2em
        width 2em

.site
  margin-top .5em
  height 10em
  position relative
  white-space nowrap
  overflow hidden
  opacity .7
  &:hover
    opacity 1

  .name
    position absolute
    color white
    bottom .1em
    left -.1em
    font-weight normal
    font-size 450%
    font-family Vollkorn

@media (min-width: 768px)
  .section-selector
    img
      width 7em
      height 7em
    // The controller icon is taller and wider than the others
    &#selector-games
      img
        width 6em
        height 6em

  .footer
    position absolute
    bottom .5em

  .site-row
    margin-top 20px
    &:nth-child(2)
      margin-top 0

  .site
    margin-top 0

@media (min-width: 1200px)
  .site-row
    margin-top 30px
