{{define "404"}}
<!DOCTYPE html>
<html>
  <head>
    <title>pentaton</title>
    <style type="text/css">
      {{template "css"}}
    </style>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  </head>
  <body>
    <div id="categories">
      {{range .Categories}}
        <a class="icon {{.}} {{if eq $.Category .}}active{{end}}"
           href="{{.}}">
          {{template "icon" .}}
        </a>
      {{end}}
    </div>
    <div id="four-oh-four">
      {{.Category}} isn't a category I recognize.  Try one of the ones up at the top.
    </div>
  </body>
</html>
{{end}}
