{{define "links"}}
<html>
  <head>
    <title>pentaton</title>
    <style type="text/css">
      {{template "css"}}
    </style>
  </head>
  <body>
    <div id="categories">
      {{range .Categories}}
        <a class="icon {{.}} {{if eq $.Category .}}active{{end}}"
           href="{{.}}">
          {{template "icon" .}}
        </a>
      {{end}}
    </div>
    <div id="links">
      {{range .Links}}
        <div class="row">
          {{range .}}
            <a class="link"
               href="{{.Url}}"
               style="background-color: #{{.Color}}">
              <span class="name">{{.Name}}</span>
            </a>
          {{end}}
        </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
