{{define "menu"}}
<div id="menu">
  <div id="menu-trigger">{{template "icon" "edit"}}</div>
  <div id="menu-content">
    <div class="head">Edit</div>
    <div class="section">
      Coming soon, such thrilling features as
      <ul>
        <li>Remove links</li>
        <li>Move links</li>
        <li>Change colors</li>
        <li>Edit text, and urls!</li>
      </ul>
    </div>
    <div class="foot">
      Icons from <a href="https://thenounproject.com/">the Noun Project</a>.
      <ul>
        <li>
          {{template "icon" "listening"}}
          <a href="https://thenounproject.com/term/headphones/4688/">Kevin Wynn</a>
        </li>
        <li>
          {{template "icon" "reading"}}
          <a href="https://thenounproject.com/term/book/8954/">Tiago Franco</a>
        </li>
        <li>
          {{template "icon" "watching"}}
          <a href="https://thenounproject.com/term/television/167232/">misirlou</a>
        </li>
        <li>
          {{template "icon" "playing"}}
          <a href="https://thenounproject.com/term/video-game-controller/1052/">Joshua Thiessen</a>
        </li>
        <li>
          {{template "icon" "edit"}}
          <a href="https://thenounproject.com/term/preferences/127951/">Daniel Llamas Soto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
