{{define "css"}}
@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body {
  font-family: sans-serif;
  margin: 0;
}

#categories {
  width: 52%;
  max-width: 600px;
  margin: 30px auto;
}

#categories .icon {
  display: inline-block;
  width: 20%;
  margin-right: 4%;
  vertical-align: top;

  opacity: 0.5;
}

#categories .icon:last-child {
  margin-right: 0;
}

#categories .icon:hover,
#categories .icon.active {
  opacity: 1;
}

#categories .icon.playing {
  width: 15%;
  margin-top: 15px;
}

#links {
  width: 77%;
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-bottom: 2.7%;
}

.row:last-child {
  margin-bottom: 0;
}

.link {
  display: inline-block;
  width: 31%;
  height: 140px;
  margin: 0 2.7% 0 0;
  overflow: hidden;

  opacity: 0.7;

  white-space: nowrap;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.link:last-child {
  margin-right: 0;
}

.link .name {
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 63px;
  line-height: 63px;

  display: inline-block;
  margin-top: 80px;
  margin-left: -5px;
}

#add-link {
  display: inline-block;
  width: 31%;
  height: 140px;
  margin: 0 2.7% 0 0;
  overflow: hidden;
  box-sizing: border-box;

  opacity: 0.3;

  border: 10px solid #CCC;
  font-family: Oswald, sans-serif;
  color: white;
}

#add-link:last-child {
  margin-right: 0;
}

#add-link:hover,
#add-link.active {
  opacity: 1;
}

#add-link.active {
  border-width: 0;
}

#add-link .activate {
  font-family: Oswald, sans-serif;
  font-size: 100px;
  text-align: center;
  color: #CCC;
  margin-top: -23px;
  cursor: pointer;
}

#add-link form {
  display: none;
}

#add-link.active form {
  display: block;
}

#add-link.active .activate {
  display: none;
}

#add-link input {
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 8px 8px 8px 8px;
}

#add-link label[for="add-link-color"] {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 1px 7px 8px;
  margin-right: -3px;
}

#add-link #add-link-color {
  width: 4rem;
  padding-left: 1px;
}

#add-link #add-link-url,
#add-link #add-link-name {
  display: block;
  margin-top: 16px;
  width: 100%;
}

#add-link #add-link-name {
  padding: 0;
  font-size: 24px;
  margin-left: -1px;
}

#add-link input[type="submit"] {
  float: right;
  cursor: pointer;
}

#add-link input[type="submit"]:hover {
  color: #abc123;
  font-weight: bold;
}

#four-oh-four {
  font-family: Oswald, sans-serif;
  font-size: 45px;

  width: 500px;
  margin: auto;
  text-align: center;

  opacity: 0.7;
}

@media (max-width: 720px) {
  #categories {
    width: 100%;
    margin: 2.7%;
  }

  #links {
    width: 100%;
  }

  .link {
    display: block;
    width: 100%;
    margin-bottom: 2.7%;
  }

  .row {
    margin-bottom: 0;
  }

  #add-link {
    display: block;
    width: 100%;
  }
}
{{end}}
